@font-face {
    font-family: 'Alibaba PuHuiTi-Bold';
    src: url('~@assets/fonts/Alibaba PuHuiTi-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alibaba PuHuiTi-Heavy';
    src: url('~@assets/fonts/Alibaba PuHuiTi-Heavy.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alibaba PuHuiTi-Light';
    src: url('~@assets/fonts/Alibaba PuHuiTi-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alibaba PuHuiTi-Medium';
    src: url('~@assets/fonts/Alibaba PuHuiTi-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alibaba PuHuiTi-Regular';
    src: url('~@assets/fonts/Alibaba PuHuiTi-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HARMONYOS_SANS_SC_BLACK';
    src: url('~@assets/fonts/HARMONYOS_SANS_SC_BLACK.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HARMONYOS_SANS_SC_BOLD';
    src: url('~@assets/fonts/HARMONYOS_SANS_SC_BOLD.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HARMONYOS_SANS_SC_LIGHT';
    src: url('~@assets/fonts/HARMONYOS_SANS_SC_LIGHT.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HARMONYOS_SANS_SC_MEDIUM';
    src: url('~@assets/fonts/HARMONYOS_SANS_SC_MEDIUM.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HARMONYOS_SANS_SC_REGULAR';
    src: url('~@assets/fonts/HARMONYOS_SANS_SC_REGULAR.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HARMONYOS_SANS_SC_THIN';
    src: url('~@assets/fonts/HARMONYOS_SANS_SC_THIN.TTF');
    font-weight: normal;
    font-style: normal;
}