@import "./font.scss";
@import "./dialog.scss";
@import "./table.scss";
@import "./btn.scss";

// 定义全局字体大小变量
:root {
  //计算公式： xx px / 16 = xx rem
  --font-size-200: 12.5rem;
  --font-size-150: 9.375rem;
  --font-size-100: 6.25rem;
  --font-size-80: 5rem;
  --font-size-72: 4.5rem;
  --font-size-64: 4rem;
  --font-size-50: 3.125rem;
  --font-size-45: 2.8125rem;
  --font-size-40: 2.5rem;
  --font-size-38: 2.375rem;
  --font-size-34: 2.125rem;
  --font-size-32: 2rem;
  --font-size-28: 1.75rem;
  --font-size-24: 1.5rem;
  --font-size-22: 1.375rem;
  --font-size-20: 1.25rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-12: 0.75rem;
  --font-size-10: 0.625rem;
  --font-size-8: 0.5rem;
  --font-size-6: 0.375rem;

  // 字体颜色
  --color-primary: #ffffff; // 主要字体颜色
  --color-secondary: #a3b6c0; // 次要字体颜色
  --color-desc: rgba(255, 255, 255, 0.4); // 其他变量...
  --text-shadow-blue: 0 0 10px rgba(49, 174, 255, 0.9);

  // 定义全局渐变颜色
  --gradient-normal: linear-gradient(180deg, #ffffff 37%, #2d9ade 100%);
  --gradient-text: linear-gradient(180deg, #ffffff 42%, #2fa4f6 100%);
  --gradient-text-red: linear-gradient(180deg, #ffffff 8%, #ffb2b0 99%);

  // 定义全局字体族
  // --font-family-primary-Bold: 'Alibaba PuHuiTi-Bold';
  // --font-family-primary-Heavy: 'Alibaba PuHuiTi-Heavy';
  // --font-family-primary-Light: 'Alibaba PuHuiTi-Light';
  // --font-family-primary-Medium: 'Alibaba PuHuiTi-Medium';
  // --font-family-primary-Regular: 'Alibaba PuHuiTi-Regular';
  --font-family-primary-Black: "HARMONYOS_SANS_SC_BLACK";
  --font-family-primary-Bold: "HARMONYOS_SANS_SC_BOLD";
  --font-family-primary-Light: "HARMONYOS_SANS_SC_LIGHT";
  --font-family-primary-Medium: "HARMONYOS_SANS_SC_MEDIUM";
  --font-family-primary-Regular: "HARMONYOS_SANS_SC_REGULAR";
  --font-family-primary-Thin: "HARMONYOS_SANS_SC_THIN";

  //box全局
  --box-title-color: rgba(45, 154, 222, 0.4);
  --box-content-color: rgba(0, 16, 30, 0.4);
  --box-content-border: 2px solid rgba(192, 220, 231, 0.3);
  --box-content-line: rgba(192, 220, 231, 0.3);
  --box-content-icon-color: rgba(192, 220, 231, 1);
  --box-tag-background: linear-gradient(180deg,
      rgba(23, 118, 238, 0) 4%,
      rgba(23, 118, 238, 0) 6%,
      rgba(23, 118, 238, 0.69) 141%),
    rgba(13, 16, 18, 0.6);
  --box-tag-border: 2px solid rgba(192, 220, 231, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: transparent;

  display: flex;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // width: 3840px;
  // height: 2160px;
  // font-size: 13.824px;

  width: 100vw;
  height: 100vh;
  font-size: 0.36vw;
}

body {
  margin: 0;
  width: 100%;
  background-color: transparent;
  position: relative;
  padding-top: 56.25%;
  font-family: var(--font-family-primary-Light);
}

#app {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: var(--font-size-34);
  color: var(--color-primary);
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: var(--font-family-primary-Regular);

  &.logo {
    font-family: var(--font-family-primary-Medium);
    font-size: var(--font-size-64);
    background: var(--gradient-normal);
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    font-weight: 500;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
      0px 8px 8px rgba(255, 255, 255, 0.2);
  }
}

h2 {
  font-size: var(--font-size-32);
  color: var(--color-primary);
}

h3 {
  font-size: var(--font-size-28);
  color: var(--color-primary);
}

span {
  font-size: var(--font-size-22);
  color: var(--color-primary);

  &.shadow {
    text-shadow: var(--text-shadow-blue);
  }

  &.table {
    font-size: var(--font-size-20);
  }

  &.tag {
    font-size: var(--font-size-24);
  }

  &.desc {
    color: var(--color-desc);
  }

  &.en-title {
    font-size: var(--font-size-28);
    color: var(--color-desc);
  }
}

.font-color-gradient-blue {
  background: linear-gradient(180deg, #ffffff 42%, #2fa4f6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-family: var(--font-family-primary-Medium);
}

.font-color-gradient-red {
  background: linear-gradient(180deg, #ffffff 8%, #ffb2b0 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}